* {
    // font-family: "Optima", "苹方-简" !important;
    // src: url("/path/to/Optima.ttc") format("truetype") !important;
    // font-display: swap !important;
}

p {
    margin: 0 0 30px;  /* 下边距为30px，其它边距为0 */
    line-height: 2;  /* 行高为2 */
    // font-family: "Optima", "苹方-简";  /* 字体家族，首选Optima，若无则使用苹方-简 */
}
